// -----------------------------------------------------------------------------
// This file contains all styles related to the 'language-swithing' component.
// -----------------------------------------------------------------------------

.language-list {
  display: flex;
  align-items: baseline;
  padding-left: 40px;
  max-width: 80px;
}

.language-list__item {
  padding: 3px;
  list-style: none;
} 

.language-list__item-link {
  color: #ababa4;
  font-size: 0.8rem;
  text-decoration: none;
}

.language-list__item-link:hover {
  color: #fff;
}

.language-list__item-link_active {
  color: #fff;
  font-size: 1.1rem;
}