.main-wrapper__header {
  padding-top: 150px;
}

.main-wrapper__description {
  padding: 0 50px ;
}

.encoder-container {
  display: flex;

  .encoder-block-start,
  .encoder-block-end {
    width: 50%;

    .encoder-block-start__header,
    .encoder-block-end__header {
      height: 50px;
      padding: 10px;
      font-size: 1.5rem;
    }

    .encoder-block-start__header {
      cursor: pointer;
    }

    .encoder-block-start__textarea,
    .encoder-block-end__textarea {
      width: 450px;
      height: 200px;
      padding: 20px;
      font-size: 1.1rem;   
      outline : none;
      resize : none;
      border-top: none;
    }
  }
}