// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}