// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;

  .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }


  @media (max-width: 600px) { 
    
    .header__logo {
      display: none;
    }

    .container {
      justify-content: center;
    }
  }

  @media (max-width: 345px) { 
    .menu {
      .menu__item {
        padding-right: 5px;

      }

      .menu__link {
          font-size: 0.9rem;
      }

      .language-list__item-link {
        font-size: 0.9rem;
      }

      .language-swithing {

        .language-list {
          padding-inline-start: 10px;
 
          .language-list__item-link {
            font-size: 0.8rem;
          }
        }
      }
     }
   }

  @media (max-width: 228px) { 
    height: 40px;

    .menu {

      .menu__item {
        padding-right: 5px;
      }

      .menu__link {
          font-size: 0.7rem;
      }

      .language-list__item-link {
        font-size: 0.7rem;
      }

      .language-swithing {

        .language-list{
          padding-inline-start: 5px;
 
          .language-list__item-link {
            font-size: 0.5rem;
          }
        }
      }
     }
   }
}