
// -----------------------------------------------------------------------------
// This file contains all of the styles related to the scrollup component.
// -----------------------------------------------------------------------------


.scrollup{
  position: fixed;
  bottom: 60px;
  right: 30px;
}