// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}


/**
* Basic styles for body
*/
body {
  @extend %custom-scroll; 
}

/**
* Basic styles for block 'LOGO'
*/
.header__logo {
  opacity: 0;
  height: 35px;
  width: 70px;
  background-color: #f3f3f3;
  color: #3b3c38;
}

/**
* Basic styles for block 'how-it-works'
*/
.how-it-works {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  .container {
    width: 600px;
  }
}

/**
* Basic styles for block 'application-area'
*/
.application-area {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;

  .container {
    width: 600px;

    ul {
      padding: 0;

      li {
        padding-bottom: 20px;
        list-style-type: square;
        list-style-position: inside;
      }
    }
  }
}

