@import './base/mormalize';


$backgroundColor__header: #323330;
$backgroundColor__main: #3b3c38;
$encoder-block__header-background: #353634;
$encoder-block__header-text: #f5da55;
$encoder-block__textarea-background: #1d1f21;
$encoder-block__text: #b2b8b7;
$encoder-block__border: #61635e;
$how-it-work__color-background:  #d8d6c9;
$how-it-work__color-text: #2b2828;
$application-area__color-background:#828284;
$application-area__color-text:  #1b1a03;
$footer__color-background:  #323330;
$footer__color-text:  #d8d6c9;

%custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #6a6868;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: #111111;
    border-radius: 7px;
  }
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Roboto/roboto-bold-webfont.eot');
  src: url('../assets/fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
       url('../assets/fonts/Roboto/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: '../assets/fonts/Roboto/Roboto Medium';
  src: url('../assets/fonts/Roboto/roboto-medium-webfont.eot');
  src: url('../assets/fonts/Roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('../assets/fonts/Roboto/roboto-medium-webfont.woff') format('woff'),
       url('../assets/fonts/Roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Thin';
  src: url('../assets/fonts/Roboto/roboto-thin-webfont.eot');
  src: url('../assets/fonts/Roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Roboto/roboto-thin-webfont.woff2') format('woff2'),
       url('../assets/fonts/Roboto/roboto-thin-webfont.woff') format('woff'),
       url('../assets/fonts/Roboto/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  font-size: 10px;
  font-family: 'Roboto Bold';
  color: #ffffff;
  @extend %custom-scroll;
}

  
  * { 
  box-sizing: border-box;
}

.scrollup{
  .scrollup__image{
    opacity: 1;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 60px;
    right: 30px;
    border-radius: 25px; 
    transition: all 0.5s ease;
  }
  .scrollup__image:hover{
    transition: all 0.5s ease;
    cursor: pointer;
    background-color:$encoder-block__header-text;
  }

  &_hidden {
      transition: all 0.4s ease;

    .scrollup__image {
      opacity: 0;
    }
  }
}



.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;

  background-color: $backgroundColor__header;

  .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .header__logo {
    opacity: 0;
    background-color: #f3f3f3;
    height: 35px;
    width: 70px;
    color: #3b3c38;
    font-size: 1.7rem;
  }

  .menu {
    display: flex;

    .menu__wrapper{
      display: flex;
      align-items: center;
    }

    .menu__item{
      padding-right: 17px;
      text-transform: capitalize;
    }

    .menu__item_active{
      .menu__link {
        color: #f5da55;
      }
    }

    .menu__link_text-uppercase{
      text-transform: uppercase;
    }

    .menu__link{
      color: #fff;
      font-size: 1.1rem;
      text-decoration: none;
    }

    .menu__link:hover{
      color: #f5da55;
    }
   
    .language-swithing{
      .language-list{
        display: flex;

        
        .language-list__item {
          list-style: none;
          padding: 3px;

          .language-list__item-link{
            color: #ababa4;
            text-decoration: none;
            font-size: 1.1rem;
          }

          .language-list__item-link:hover{
            color: #fff;
          }
          .language-list__item-link_active{
            color: #fff;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

}

.main{
  height: 100vh;
  max-height: 881px;
  min-height: 580px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $backgroundColor__main;
  
  .main-wripper{
    width: 900px;
    display: flex;
    flex-direction: column;
    
    .main-wripper__header{
      padding-top: 150px;
      font-size: 3rem;
      text-align: center;
      color: $encoder-block__header-text;
    }

    .main-wripper__description{
      padding: 0 50px ;
      text-align: center;
      font-size: 1.1rem;
    }


    .encoder-container{
      display: flex;

      .encoder-block-start,
      .encoder-block-end {
        width: 50%;
        box-sizing: border-box; 
        padding: 0;

        .encoder-block-start__header,
        .encoder-block-end__header {
          height: 50px;
          padding: 10px;
          font-size: 1.5rem;
          background-color: $encoder-block__header-background;
          color: $encoder-block__text;
          border-left: 1px solid $encoder-block__border;
          border-top: 1px solid $encoder-block__border;
          border-right: 1px solid $encoder-block__border;
        }
        .encoder-block-start__header{
          cursor: pointer;
        }


        .encoder-block-start__textarea,
        .encoder-block-end__textarea {
          width: 450px;
          height: 200px;
          background-color: $encoder-block__textarea-background;
          padding: 20px;
          font-size: 1.1rem;   
          outline : none;
          resize : none;
          border-left: 1px solid $encoder-block__border;
          border-top:none;
          border-right: 1px solid $encoder-block__border;
          border-bottom: 1px solid $encoder-block__border;
          color: $encoder-block__text;
        }
      }

      // .encoder-block-end{
      //   .encoder-block-end__textarea{
          
      //  }
      // }
    }
  }
}

.how-it-works{
  height: 50vh;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.1rem;
  background-color: $how-it-work__color-background;
  color: $how-it-work__color-text;

  .container{
    width: 600px;
  }
}


.application-area{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.1rem;
  background-color: $application-area__color-background;
  color: $application-area__color-text;

  .container{
    width: 600px;

    li {
      padding-bottom: 20px;
      list-style-type: square;
      list-style-position: inside;
    }
  }
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-color: $footer__color-background;
  color: $footer__color-text;
  font-size: 0.9rem;
  .container{
  }
}

