* {
 // color:purple;
}
.wrapper {
  height: 100vh;
}

.main {

  .endcriptionText {
    width: 100%;
    overflow: hidden;
    background: #e9ecef;
    cursor: pointer;

    .normalSimbol{
      background-color: #28a74566;
    }

    .alternativeSimbol{
      background-color: #db171769;
    }
  }

  .hidden {
      position: absolute;
      top: -100px;
      left: -100px;
      z-index: -100;
  }
}